$min-width: 100%;



.Navbar  {
   // height: 5em;;
   // min-height: 50px;
    width: 100%;
    background-color: rgb(138, 176, 207);
    position: absolute;
    bottom: -4.4em;


}


ul {
    //min-height: 50px;
    list-style: none;
    // margin: 0;
    // padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.text-link {    
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 200%;
    // text-align: center;
    // padding-left: 1em;
    // padding-right: 1em;
    &:hover {
        background-color: grey;
        color:white;
        transition-duration: 0.3s;
    }
    &:active {
        color: white;
        text-decoration: underline;

    }


    
}




