#app {height: auto;}
html,
body {
  position: flex;
  height: 100vh;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}


.swiper {
  width: auto;
  height: 100vh;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: auto;
  height: 100vh;
  object-fit: cover;
}



@media (max-width: 1300px) {
  body{
    margin: 0;
    padding: 0;
  }
  .swiper {
    width: 100%;
    height: 40em;

  }
  .swiper-slide img {
    width: 100%;
    height: auto;
  }
  .home {
    height: 50em;
  }
  
  
  .mySwiper2 {
    padding-top: 24em;
    padding-bottom: 26.5em;
  }

  .titleBox {
    width: auto;
    height: auto;
  }

  // fire fox non f11 1920 889  fullscreen 1920 1080 
  
}

.mySwiper{
  //padding-bottom: 2em;
}

// .mySwiper2 {
//   padding-top: 2em;
// }


.titleBox {
  // box positioning 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  margin-left: 4%;
  margin-top:2%;
  padding-left: 1%;
  padding-right: 1%;
  width: fit-content; // fit-content 
  height: 5%;

  // box styleing 
  color: rgb(0, 0, 0);
  font-size: large;
  background-color: rgba(238, 238, 238, 0.849);
  border: 4px solid rgb(119, 119, 119);
  border-radius: 8px;

  #titleText {
    color: rgb(255, 0, 0);
    position: relative;
    width: auto;
    height: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    
   
  }
}