
.Navbar {
    width: 100%;
    height: 30%;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgb(170, 10, 10);
    border-bottom: 20px solid rgb(0, 0, 0);
    border-top: 20px solid rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    
}


.Navbar_container {
    margin: 0;
    padding: 0;
    display: flex;
}


.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.text-link {
    
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 200%;
    display: inline-block;
    &:hover {
        background-color: chartreuse;
        color:black;
    }
    
}
