$text-color: black;


html {
    //margin: 0;
    //padding: 0;

}

body {
    background-color: rgb(0, 0, 0);
   // height: 100%;
}



h1{
    color:red;
}



#image {
    margin-top: 10em;
    height: 50%;
}