$text-color: black;

#wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: red;

}




html, body {
    background-color: rgb(255, 255, 255);
    height: 100%;

}


h1{
    color:red;
}



#image {
    height: 50%;
}